.footer {
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: 100vw;
  position: absolute;
  padding-top: 2em;
}
.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}
.post-date {
  background: #F1DDCF;
}