---
layout: misc
title: Home
---

<div class="background" style="background-color:black;">
  <div class="table-row">
    <div class="table-cell split" style="order:2;">
      <img class="center" src="{{site.baseurl}}/assets/img/BrownSugarBubbleTea.jpeg" style="min-width:100%; min-height:100%; object-fit: cover; margin-top:0; height: 100%; width: 100%;">
    </div>
    <div class="table-cell split" style="order:1;">
      <div class="table-column">
          <div class="table-cell mobile-margins">
            <h1 class="home-h1" style="color:#e6d2b5; font-size:3em;">Spill The <br>(Milk) Tea</h1>
          </div>
          <div class="table-cell mobile-margins">
            <p style="color:white; padding-left:5vw; padding-right:5vw;">Spill The (Milk) Tea is a collection of projects that a group of friends came up with to stay in touch throughout the different transition stages in their lives. The projects aim to showcase their hobbies, interests, and passions - as well as provide a means for them to continue finding common ground.</p>
          </div>
      </div>
    </div>
  </div>
</div>